<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oducsapp"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.oducsapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.oducsapp.Directory"
            android:label="@string/title_activity_directory" >
        </activity>
        <activity
            android:name="com.example.oducsapp.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.oducsapp.AboutSettings"
            android:label="@string/title_activity_about_settings" >
        </activity>

        <service
            android:name="com.example.oducsapp.TimerService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
